
<h1 class="animals-title">Animals</h1>
<div class="animals">
    <dialog class="animal-dialog">
        <div><a class="close"><i class="fa fa-times"></i></a></div>
        <h2></h2>
        <img alt="" src="">
        <p></p>
    </dialog>
    <script type="text/javascript">
        let divisionCollection, division, dialog;
    </script>
    {{#each animals}}
        <div class="animal" id="{{this.name}}">
            <img class="image" src="/images/{{this.name}}.jpg" alt="{{this.name}}">
            <div class="animal-label">{{this.name}}</div>
        </div>
        <script type="text/javascript">
            divisionCollection = document.getElementsByClassName("animal");
            division = divisionCollection[divisionCollection.length - 1];
            dialog = document.querySelector(".animal-dialog");
            division.addEventListener("click", () => {
                dialog.querySelector("h2").innerHTML = "{{this.name}}";
                dialog.querySelector("img").src = "/images/{{this.name}}.jpg";
                dialog.querySelector("img").alt = "{{this.name}}";
                dialog.querySelector("p").innerHTML = "{{this.description}}";
                dialog.showModal();
            });
            dialog.querySelector("div").addEventListener("click", () => {dialog.close();});
        </script>
    {{/each}}
</div>
<script type="text/javascript">
    animals = document.querySelectorAll(".animal");
    for (let animal of animals) {
        animal.addEventListener("mouseenter", () => {
            animal.querySelector("div").style.color = "yellow";
                for (let darkened of animals) if (darkened.id !== animal.id) darkened.style.opacity = "0.5";

        });
        animal.addEventListener("mouseleave", () => {
            animal.querySelector("div").style.color = "white";
            for (let darkened of animals) if (darkened.id !== animal.id) darkened.style.opacity = "1";
        });
    }

</script>

<script type="text/javascript">
    function play() {
        const audio = new Audio("https://interactive-examples.mdn.mozilla.net/media/cc0-audio/t-rex-roar.mp3");
        audio.play();
    }
</script>
