

<div id="tickets-container">
    <form class="booking-form capture-add-to-cart" id="ticket-selection-form" action="api/tickets-selected" method="POST">
        <h1>Buy your tickets here</h1>
        <ul id="choose-tickets" class="ticket-list">
            {{#each tickets}}
            <li class="ticket" id="{{name_EN}}" style="clear: both;">
                <div class="text">
                    <strong class="ticket-title"> {{ name_EN }} / {{ name_GR }} </strong>
                    <div class="price"> <span class="price-active"> € {{ price }} </span> </div>
                </div>
                <div class="quantity">
                    <span class="ticket-selector">
                        <button type="button" aria-label="decrease quantity" class="minus-ticket-selector" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Click and hold to remove faster..." title="">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                        <span class="selector-total">
                            <input type="text" inputmode="numeric" pattern="^\d+$" value="0" id="{{name_EN}}" class="ticket-quantity-input" data-min="0" data-max="30">
                            <small class="max-total" data-min="1" data-max="30">40 max</small>
                        </span>
                        <button type="button" aria-label="increase quantity" class="plus-ticket-selector" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Click and hold to add faster..." title="">
                            <i class="ticket-selector-icon ticket-selector-icon--plus fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </li>
        {{/each}}
        </ul>
        <div id="cat-total">
            <div id="ticket-list-actions">
                <button id="clear-ticket-selection" type="button">Clear selection <i class="fa fa-times" aria-hidden="true"></i></button>
                <button type="submit" class="big-cta disabled" disabled="disabled" data-analytics-cat="event page" data-analytics-label="Add to Cart" data-analytics-event="click">Select your session<i class="fa fa-chevron-right"></i> </button>
            </div>
        </div>
    </form>
</div>
<script>
    let tickets = document.getElementsByTagName("li");
    console.log(Array.from(tickets));
    Array.from(tickets).forEach(function (element) {
        console.log(element);

        let ticketId = element.id;
        console.log(ticketId)
        let minusButton = document.querySelector(`#${ticketId} .minus-ticket-selector`);
        // console.log(minusButton);
        minusButton.addEventListener("click", function () {
            console.log("got here");
            let quantityInput = document.querySelector(`#${ticketId} .ticket-quantity-input`);
            if (quantityInput.value > 0)
                quantityInput.value--;
        });
        let plusButton = document.querySelector(`#${ticketId} .plus-ticket-selector`);
        plusButton.addEventListener("click", function () {
            console.log("got here");
            let quantityInput = document.querySelector(`#${ticketId} .ticket-quantity-input`);
            if (quantityInput.value < 40)
                quantityInput.value++;
        });
    });

    let clearButton = document.querySelector("#clear-ticket-selection");
    console.log(clearButton)
    clearButton.addEventListener("click", function () {
        let quantityInputs = document.querySelectorAll(".ticket-quantity-input");
        console.log(quantityInputs);
        for (let input of quantityInputs) {
            input.value = 0;
        }
    });

</script>
