<div id="tickets-date-container">
    <p>
        lock login dialog before paying, as it was done for dashboard
    </p>
    <form id="ticket-date-selection-form">
        <h1>Select date</h1>
        <input type="date" id="ticket-date" name="birthdate" value="{{minDate}}" min="{{minDate}}" max="{{maxDate}}">
    </form>
</div>

<div id="tickets-container">
    <form id="ticket-selection-form">
        <h1>Buy your tickets here</h1>
        <ul id="choose-tickets" class="ticket-list">
            {{#each tickets}}
            <li class="ticket" id="{{name}}" style="clear: both;">
                <div class="text">
                    <strong class="ticket-title"> {{ name }} </strong>
                    <div class="price"> <span class="price-active"> € {{ price }} </span> </div>
                </div>
                <div class="quantity">
                    <span class="ticket-selector">
                        <button type="button" aria-label="decrease quantity" class="minus-ticket-selector"
                                data-toggle="popover" data-trigger="hover" data-placement="top"
                                data-content="Click and hold to remove faster..." title="">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                        <span class="selector-total">
                            <input type="text" inputmode="numeric" pattern="^\d+$" value="0" id="{{name}}"
                                   class="ticket-quantity-input" data-min="0" data-max="30">
                        </span>
                        <button type="button" aria-label="increase quantity" class="plus-ticket-selector"
                                data-toggle="popover" data-trigger="hover" data-placement="top"
                                data-content="Click and hold to add faster..." title="">
                            <i class="ticket-selector-icon ticket-selector-icon--plus fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
                <small class="max-indicator">40 max</small>
            </li>
        {{/each}}
        </ul>
        <div id="cat-total">
            <div class="button-div" id="ticket-list-actions">
                <button id="clear-ticket-selection" type="button">Clear selection <i class="fa fa-times" aria-hidden="true"></i></button>
                <button id="submit-tickets-button" type="button" class="fill me"
                        >OK <i class="fa fa-chevron-right"></i> </button>
            </div>
        </div>
    </form>
</div>

<dialog id="ticket-confirmation-dialog">
    <h1 id="ticket-confirmation-header">Are you sure for your choices?</h1>
    <i id="ticket-confirmation-date"></i>
    <p id="ticket-confirmation-paragraph"></p>
    <span id="ticket-confirmation-buttons">
        <button id="ticket-dialog-ok">OK</button>
        <button id="ticket-dialog-back">BACK</button>
    </span>
</dialog>

<script>
    let tickets = document.getElementsByTagName("li");
    // console.log(Array.from(tickets));
    Array.from(tickets).forEach(function (element) {
        let ticketId = element.id;
        let minusButton = document.querySelector(`#${ticketId} .minus-ticket-selector`);
        minusButton.addEventListener("click", function () {
            let quantityInput = document.querySelector(`#${ticketId} .ticket-quantity-input`);
            if (quantityInput.value > 0) quantityInput.value--;
        });
        let plusButton = document.querySelector(`#${ticketId} .plus-ticket-selector`);
        plusButton.addEventListener("click", function () {
            let quantityInput = document.querySelector(`#${ticketId} .ticket-quantity-input`);
            if (quantityInput.value < 40) quantityInput.value++;
        });
    });

    function clearQuantities () {
        let quantityInputs = document.querySelectorAll(".ticket-quantity-input");
        console.log(quantityInputs);
        for (let input of quantityInputs) input.value = 0;
        document.querySelector("#ticket-confirmation-dialog").querySelector("p").innerHTML = "";
        selectedData = {};
    }

    document.querySelector("#clear-ticket-selection").addEventListener("click", clearQuantities);
    let confirmationDialog = document.querySelector("#ticket-confirmation-dialog");
    let submitButton = document.querySelector("#submit-tickets-button");
    submitButton.addEventListener("click", function () {
        selectedData.date = document.querySelector("#ticket-date").value;
        let ticketDivisions = document.querySelectorAll(".ticket"), totalQuantity = 0;
        for (let ticket of ticketDivisions) {
            ticket.getElementsByTagName("span");
            let quantity = ticket.querySelector(".ticket-quantity-input");
            // let price = ticket.querySelector(".price");
            totalQuantity += quantity.value;
            if (quantity.value > 0) selectedData[ticket.id] = quantity.value;
        }
        console.log("total", totalQuantity)
        if (totalQuantity == 0) // note == operator is intentional, don't change it
            openDialog("No tickets selected", "Please select at least one ticket to continue", simpleClose);
        else {
            console.log(selectedData);
            let paragraph = confirmationDialog.querySelector("p"), date = confirmationDialog.querySelector("i");
            paragraph.innerHTML = "";
            for (const [key, value] of Object.entries(selectedData)) {
                if (key === "date") {
                    date.innerHTML = value.toString();
                    continue;
                }
                paragraph.innerHTML += `${key} ${value}<br>`;
            }
            confirmationDialog.showModal();
        }
    });

    let confirmationBACK = document.querySelector("#ticket-dialog-back");
    confirmationBACK.addEventListener("click", function () {
        selectedData = {};
        document.querySelector("#ticket-confirmation-dialog").close();
    });

    let confirmationOK = document.querySelector("#ticket-dialog-ok");
    confirmationOK.addEventListener("click", function () {
        fetch("/api/tickets-selected", {
            method: "POST", 
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(selectedData)
        })
        .then(response => {
            if (response.ok) {
               openDialog("Successful entry", "proceed to safe payment environment", () => {
                   confirmationDialog.close();
                   toPayUs();
               });
            } else if (response.status === 300) {
                console.log("login required");
                openDialog("Login required", "please log in", toLogin);
            }
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
});


</script>
